{% extends "padre.html" %}

{% load static %}

{% block seccion %}
    <h1>Editar Alumno</h1>
    
{% endblock %}


{% block contenido %}

  
    <h2>Datos del alumno a editar</h2>

    <form action="{%url 'editar_alumno' alumno.id%}" method="POST">
        {% csrf_token %}
        <p>Nombre</p>
        {{form.nombre}}

        <p>Apellido</p>
        {{form.apellido}}

        <p>DNI</p>
        {{form.dni}}

        <p>Email</p>
        {{form.email}}

        <input type="submit" value="Enviar cambios">
    </form>

{% endblock %}